<div>
    <h1>Bienvenido {{user.name}}</h1>
    <h2>Este es tu perfil de usuario</h2>
    
    <h3>E-mail:{{user.email}}</h3>
    <h3>Edad: {{user.age}} años</h3>
    <h3>Rol asignado: {{user.role}}</h3>

    <p>Recuerda que para solicitar el rol de Admin, debes contactarte con tu supervisor!</p>
</div>