<nav>
    <h3>API de productos</h3>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/carts">Carritos</a></li>
    </ul>
    <a href="/logout" id="logoutBtn"><button>Logout</button></a>
</nav>